################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/code/CineMate/.vs/CineMate
/code/CineMate/CineMate/obj
/code/CineMate/CineMate/bin/Debug/net8.0
